<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Tienda de Abarrotes</title>
</head>

<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Abarrotes La Esquina</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-icon="home">Inicio</a></li>
                    <li><a href="#" data-icon="tag" class="ui-btn-active">Productos</a></li>
                    <li><a href="#" data-icon="user">Empleados</a></li>
                </ul>
            </div><!-- /navbar -->
        </div>
        <div data-role="content">
            <form action="/api/products/<%= product.barcode%>" method="POST">
                <label for="flip-6">Código de barras: </label>
                <input type="text" name="barcode" id="txt_barcode" value="<%= product.barcode %>">

                <label for="flip-6">Descripción: </label>
                <input type="text" name="description" id="txt_description" value="<%= product.description %>">

                <label for="flip-6">Marca: </label>
                <input type="text" name="brand" id="txt_brand" value="<%= product.brand %>">

                <label for="flip-6">Precio de compra: </label>
                <input type="text" name="cost" id="txt_cost" value="<%= product.cost %>">

                <label for="flip-6">Precio de venta: </label>
                <input type="text" name="price" id="txt_price" value="<%= product.price %>">

                <label for="flip-6">Existencias: </label>
                <input type="text" name="stock" id="txt_stock" value="<%= product.stock %>">

                <label for="flip-6">Fecha de expiración: </label>
                <input type="date" data-role="date" name="expiredDate" id="txt_expiredDate" value="<%= product.expiredDate %>">

                <label for="flip-6">Activo:</label>
                <select name="status" id="flip-6" data-role="slider">
                    <option value="0" <%= product.status=0?"select":"" %>>No</option>
                    <option value="1" <%= product.status=1?"select":"" %>>Si</option>
                </select>

                <button type="submit" id="submit-6" class="ui-shadow ui-btn ui-corner-all ui-mini">Guardar</button>
            </form>
        </div>
        <div data-role="footer">
            <h5>Yulissa Ortega</h5>
        </div>
    </div>
</body>

</html>