<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Tienda de Abarrotes</title>
</head>

<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Abarrotes La Esquina</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-icon="home">Inicio</a></li>
                    <li><a href="#" data-icon="tag" class="ui-btn-active">Productos</a></li>
                    <li><a href="#" data-icon="user">Empleados</a></li>
                </ul>
            </div><!-- /navbar -->
        </div>
        <div data-role="content">
            <form action="/api/products/" method="POST">
                <input type="text" name="barcode" id="txt_barcode" placeholder="C贸digo de barras">

                <input type="text" name="description" id="txt_description" placeholder="Descripci贸n">

                <input type="text" name="brand" id="txt_brand" placeholder="Marca">

                <input type="text" name="cost" id="txt_cost" placeholder="Precio de compra">

                <input type="text" name="price" id="txt_price" placeholder="Precio de venta">

                <input type="text" name="stock" id="txt_stock" placeholder="Existencias">

                <input type="date" data-role="date" name="expiredDate" id="txt_cexpiredDate"
                    placeholder="Fecha de expiraci贸n">

                <label for="flip-6">Estatus:</label>
                <select name="status" id="flip-6" data-role="slider">
                    <option value="0">Inactivo</option>
                    <option value="1">Activo</option>
                </select>

                <button type="submit" id="submit-6" class="ui-shadow ui-btn ui-corner-all ui-mini">Submit</button>
            </form>
            <form>
                <input data-type="search" id="searchForCollapsibleSet">
            </form>
            <div data-role="collapsibleset" data-filter="true" data-inset="true" id="collapsiblesetForFilter"
                data-input="#searchForCollapsibleSet">
                <% products.forEach((product)=>{ %>
                    <div data-role="collapsible" data-filtertext="<%= product.description %>">
                        <h3><%= product.description %></h3>
                        <ul data-role="listview" data-inset="false">
                            <li>C贸digo de barras: <%= product.barcode %></li>
                            <li>Marca: <%= product.brand %></li>
                            <li>Precio de compra:<%= product.price %></li>
                            <li>Precio de venta: <%= product.cost %></li>
                            <li>Existencias: <%= product.stock %></li>
                            <li>Fecha de caducidad: <%= product.expiredDate %></li>
                            <li>Estatus: <%= product.status %></li>
                            <li><a href="/api/products/<%= product.barcode %>" class="ui-btn" style="background-color: rgb(216, 216, 17);">Editar</a></li>
                            <li><a href="/api/products/delete/<%= product.barcode %>" class="ui-btn" style="background-color: rgb(241, 121, 16);">Eliminar</a></li>
                        </ul>
                    </div>
                <% })%>

            </div>
        </div>
        <div data-role="footer">
            <h5>Yulissa Ortega.</h5>
        </div>
    </div>
</body>

</html>